page-home {


    pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        // text-align: justify;
        text-justify: inter-word;
    }

    [cap]{
        font-size:2rem;
    }

    [capnome]{
        font-size:1.8rem;
        font-weight: bold;
    }

    a{
        color: violet;
    }
    // .content-stable{

    // }
    background-color: rgb(230, 173, 211);
}
