/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo da página */
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente no centro da tela */
    margin-top: 20px; /* Espaço superior */
    width: 100%; /* Largura total da tela */
}

.menu-card {
    background-color: #ffffff; /* Cor de fundo do cartão */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaço entre os cartões */
    max-width: 300px; /* Largura máxima do cartão */
    width: 100%; /* Largura total do cartão */
    box-sizing: border-box; /* Garante que as bordas não aumentem a largura */
}

.menu-card img {
    width: 100%; /* Garante que a imagem ocupa toda a largura do cartão */
    border-radius: 10px 10px 0 0; /* Cantos superiores arredondados */
}

.menu-card p {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombreamento do texto */
}


a {
    color: darkviolet; /* ou qualquer cor que você preferir para os links */
    text-decoration: none;
}

a:hover {
    text-decoration: none; /* Garante que o sublinhado não apareça mesmo quando o mouse está sobre o link */
}