#app {
  color: rgba(34, 110, 147, 1);
  font-family: Lato, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.4;
  /* margin-top: 20px; */
}

/* [align-center] {
  display: flex;
  justify-content: center;
} */

a{
  color: hsl(128, 100%, 40%);
}

a:link {
  color: hsl(128, 100%, 40%);;
}

a:hover {
  color: #ff5500; /* Cor quando o cursor estiver sobre o link */
}


a:active {
  color: #ff0055; /* Cor quando o link estiver ativo (clicado) */
}


.image-item-book{
  /* align-content: space-between; */
  width: auto;
  height: 200px; 
  background-image: url('../img/livro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: #ff0055;
  border-style: dotted;
  /* margin-bottom: 1rem; */
  display: flex;
}


.texto-sobre-imagem {

  border: hwb(135 0% 0%);
  border-style: dotted;

  display: inline-block;
  align-self: flex-end;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #000; /* Cor do texto */
/*  padding: 10px 20px;  Espaçamento interno do texto */
  font-size: 24px; /* Tamanho da fonte */
  /* text-align: center; */
  font-weight: bold;
  text-shadow: 2px 2px 2px white, 0 0 1em white, 0 0 0.2em white;
}


.image-item-app{
  width: auto;
  height: 200px; 
  background-image: url('../img/app.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: #ff0055;
  border-style: dotted;
  margin-bottom: 1rem;
  display: flex;
}

.image-item-autor{
  width: auto;
  height: 400px; 
  background-image: url('../img/autor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: #ff0055;
  border-style: dotted;
  margin-bottom: 1rem;
  display: flex;
}


.imagens-menu img {
  max-width: 100%; /* Ensures the image won't exceed the div's width */
  max-height: 100%; /* Ensures the image won't exceed the div's height */
  height: auto; /* Allows the image's aspect ratio to be maintained */
  margin-bottom: 1rem;
  border: hsl(219, 100%, 50%);
  border-style: dotted;
}

.item-text {
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  text-align: center;
  border: #ff0055;
  border-style: dotted;
  margin-bottom: 1rem;
}

.grid-container {
  display: flex;
  /* grid-gap: 50px 50px; */
  /* grid-template-columns: 1fr; */
  /* flex-wrap: wrap; */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin: 0 0.5rem 1rem 0.5rem;
}

.cards-footer {
  background-color: blanchedalmond;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin: 0 0.5rem 1rem 0.5rem;
}

.card-about {
  /* background-color: blanchedalmond; */
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* transition: 0.3s; */
  width: 100%;
  margin: 0 0.5rem 1rem 0.5rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 1rem;
  width: 100%;
  border: rgb(30, 255, 0);
  border-style: dotted;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
